              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/blog/categories.html#Tech">
                      Tech
                    </a>
                  </li>
                  <li>
                    <a href="/blog/categories.html#DIY">
                      DIY
                    </a>
                  </li>
                  <li>
                    <a href="/blog/categories.html#Life">
                      Life
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
