            <ul class="list-unstyled">
            <li>
                <a href="http://coolshell.cn/">
                  酷壳
                </a>
              </li>
              <li>
                <a href="http://tonybai.com/">
                  Tony Bai
                </a>
              </li>
              <li>
                <a href="http://blog.csdn.net/feixiaoxing">
                  平凡的程序员
                </a>
              </li>
              <li>
                <a href="https://github.com/wtaps">
                  GitHub-wtaps
                </a>
              </li>
              <li>
                <a href="http://coolshell.info">
                  coolshell.info
                </a>
              </li>
              <li>
                <a href="http://www.williamlong.info/">
                  月光博客http://www.leiphone.com/
                </a>
              </li>
              <li>
                <a href="http://www.leiphone.com/">
                  雷锋网
                </a>
              </li>
              
            </ul>
