          <ul class="nav navbar-nav">
            <li>
              <a href="/blog/categories.html">
                分 类
              </a>
            </li>
            <li>
              <a href="/blog/archives.html">
                归 档
              </a>
            </li>
            <li>
              <a href="https://github.com/richardhmm">
                项 目
              </a>
            </li>
            <li>
              <a href="/blog/faqs.html">
                备 忘
              </a>
            </li>
            <li>
              <a href="/blog/about.html">
                关 于
              </a>
            </li>
          </ul>
